@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@import './reset';
@import './flex';
@import './tool';

$h1-size: 2rem;
$h2-size: 1.5rem;
$h3-size: 1.3rem;
$h4-size: 1rem;
$p-size: 0.8rem;


body {
	height: 100vh;
	@include flex-row-center;
	font-family: 'Open Sans', sans-serif;
	background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.card {
	background-color: rgba($color: #1b1b1b, $alpha: 0.6);
	padding: 2em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	@include blur(80%, 3px);
	color: #fff;
	margin: 1em;




	.search {
		@include flex-row-center;

		button {
			margin: 0.5em;
			width: 2.5em;
			height: 2.5em;
			border: none;
			border-radius: 50%;
			width: 46px;
			height: 46px;
			background-color: #2323232b;
			color: #fff;
			transition: background-color 0.5s ease-in-out;
			cursor: pointer;

			&:hover {
				background-color: #f4f4f41c;
			}
		}

		input {
			width: calc(100% - 80px);
			border: none;
			outline: none;
			padding: 1.1em;
			border-radius: 25px;
			background-color: #2323232b;
			color: #fff;

		}
	}

	.weather {

		&.loading {
			display: none;
		}

		h1 {
			font-size: $h1-size;
			margin: 10px 0;
		}

		h2 {
			font-size: $h2-size;
			margin: 5px 0;
		}

		h3 {
			margin: 10px 0px;
		}
	}

	.flex {
		display: flex;
		align-items: center;
	}


}
